.oculto{
    display: none;
}
body{
    font-family:Arial, sans-serif;
    margin: 20px;
}
.seccion-calculadora{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
